VITE_SUPABASE_URL=https://hkogrmgsvmctycgebwfu.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imhrb2dybWdzdm1jdHljZ2Vid2Z1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI1NDAyMTgsImV4cCI6MjA4ODExNjIxOH0.x5VbCgY0_Q5ONazp_HIxMnvwhC2LrgPcClUvZVsmR-Y
